<div id="game_container">
    <% @games.each do |game| %>
        <div class="board_game">
            <h1><%= game.name%></h1>
            <h2>Category: <%= game.category.name%></h2>
            <h2>Players: <%= game.min_players%> - <%=game.max_players%></h2>
            <h2>Price: $<%=game.price%></h2>
            <p><%= image_tag game.image%></p>
            <%= link_to 'View Details', product_path(game) %>
        </div>
    <% end %>
</div>
