<%= render partial: 'partials/header' %>
<h1>Our newest games:</h1>

<div class="game_container">
    <% @bgames.each do |game| %>
        <div class="board_game">
            <h1><%= game.name %></h1>
            <p><%= image_tag game.image%></p>
        </div>
    <% end %>

    <% @expansions.each do |exp| %>
        <div class="expansion">
            <h1><%= exp.name%></h1>
            <p><%= image_tag exp.image%></p>
        </div>
    <% end %>
</div>
